# dependencies
node_modules/

# environment variables
.env
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# temporary files
*.tmp
*.temp

# coverage
coverage/

# vercel
.vercel/
